{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacta con nosotros</title>
</head>
<body>
    <h1>Página de Contacto</h1>
    <p>¡Contáctanos para más información!</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="message">Mensaje:</label><br>
        <textarea id="message" name="message" rows="4" required></textarea><br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
{% endblock %}
