{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<h1>Página de Contacto</h1>
<p>¡Contáctanos para más información!</p>
{% if error %}
    <p class="error">{{ error }}</p>
{% elif success %}
    <p class="success">{{ success }}</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <label for="name">Nombre:</label><br>
    <input type="text" id="name" name="name" required><br><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>
    <label for="message">Mensaje:</label><br>
    <textarea id="message" name="message" rows="4" required></textarea><br><br>
    <button type="submit">Enviar</button>
</form>
{% endblock %}

