{% extends "base.html" %}
{% load static %}


{% block content %}

<h1>Explora nuestro Menú</h1>

{% if pizzas %}
    <div class="menu-container">
        {% for pizza in pizzas %}
            <div class="menu-item">
                <a href="{% url 'recipe_details' pizza.id %}">
                    <img src="{{ pizza.image }}" alt="{{ pizza.name }}" class="menu-image">
                    <h2>{{ pizza.name }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No se encontraron recetas disponibles.</p>
{% endif %}


{% endblock %}

