{% extends "base.html" %}
{% load static %}

{% block title %}Pedidos{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; background-color: #f8f9fa;">
    <form style="background-color: #fff; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); padding: 30px; max-width: 500px; width: 100%; display: flex; flex-direction: column; gap: 20px;">
        <h2 style="font-size: 50px; font-weight: bold; text-align: center; color: #444; margin-bottom: 30px;">Encarga aquí tu pedido</h2>
        
        <h3 style="font-size: 28px; font-weight: bold; color: #900; margin-bottom: 10px; border-bottom: 2px solid #900; padding-bottom: 5px;">Detalles del Cliente</h3>
        <label for="nombre" style="font-size: 16px; color: #555; margin-bottom: 5px;">Nombre Completo:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre completo" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;">

        <label for="email" style="font-size: 16px; color: #555; margin-bottom: 5px;">Correo Electrónico:</label>
        <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;">

        <label for="telefono" style="font-size: 16px; color: #555; margin-bottom: 5px;">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" placeholder="Ingresa tu número de teléfono" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;">

        <h3 style="font-size: 28px; font-weight: bold; color: #900; margin-bottom: 10px; border-bottom: 2px solid #900; padding-bottom: 5px;">Dirección de Envío</h3>
        <label for="direccion" style="font-size: 16px; color: #555; margin-bottom: 5px;">Dirección:</label>
        <input type="text" id="direccion" name="direccion" placeholder="Ingresa tu dirección" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;">

        <label for="ciudad" style="font-size: 16px; color: #555; margin-bottom: 5px;">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" placeholder="Ingresa tu ciudad" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;">

        <label for="codigo-postal" style="font-size: 16px; color: #555; margin-bottom: 5px;">Código Postal:</label>
        <input type="text" id="codigo-postal" name="codigo-postal" placeholder="Ingresa tu código postal" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;">

        <button type="submit" style="background-color: #900; color: #fff; border: none; border-radius: 5px; padding: 10px; font-size: 16px; font-weight: bold; cursor: pointer; transition: background-color 0.3s ease;">Enviar Pedido</button>
    </form>
</div>
{% endblock %}
