{% extends "base.html" %}
{% load static %}

{% block title %}Pedidos{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/pedidos.css' %}">

<div class="pedido-container">
    <form class="formulario-pedido">
        <h2 class="titulo-principal">Encarga aquí tu pedido</h2>

        <h3 class="titulo-seccion">Detalles del Cliente</h3>
        <label for="nombre" class="label">Nombre Completo:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre completo" class="input">

        <label for="email" class="label">Correo Electrónico:</label>
        <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico" class="input">

        <label for="telefono" class="label">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" placeholder="Ingresa tu número de teléfono" class="input">

        <h3 class="titulo-seccion">Dirección de Envío</h3>
        <label for="direccion" class="label">Dirección:</label>
        <input type="text" id="direccion" name="direccion" placeholder="Ingresa tu dirección" class="input">

        <label for="ciudad" class="label">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" placeholder="Ingresa tu ciudad" class="input">

        <label for="codigo-postal" class="label">Código Postal:</label>
        <input type="text" id="codigo-postal" name="codigo-postal" placeholder="Ingresa tu código postal" class="input">

        <button type="submit" class="boton-enviar">Enviar Pedido</button>
    </form>
</div>
{% endblock %}
